<h2>Fruits</h2>
<div id="fruits" style="display: none;">
    <div class="row">
        <div class="col-4"><a href="#" class="fruitDetail" data-id="[[id]]">[[name]]</a></div>
        <div class="col-4">[[price]]</div>
        {% if user.is_authenticated%}
            {% if user.is_staff%}
                <div class="col-2"><button type="button" class="editFruit" data-id="[[id]]">Edit</button></div>
                <div class="col-2"><button type="button" class="deleteFruit" data-id="[[id]]">Delete</button></div>
            {% else%}
                <div class="col-4"><button type="button" class="addToCart" data-id="[[id]]">Add to Cart</button></div>
            {% endif%}
        {% else%}
            <div class="col-4"><a href="{% url 'login' %}" > Login to shop</a></div>
        {% endif%}

    </div>
</div>