
<div id="cart" style="display: none;">
    <h2>[[name]]</h2>
    <div class="row">
        <div class="col-4">sku</div>
        <div class="col-4">[[sku]]</div>
    </div>
    <div class="row">
        <div class="col-4">stock_quantity</div>
        <div class="col-4">[[stock_quantity]]</div>
    </div>
    <div class="row">
        <div class="col-4">weight_kg</div>
        <div class="col-4">[[weight_kg]]</div>
    </div>
    <div class="row">
        <div class="col-4">volume_l</div>
        <div class="col-4">[[volume_l]]</div>
    </div>
    <div class="row">
        <div class="col-4">price</div>
        <div class="col-4">[[price]]</div>
    </div>
</div>
<button type="button" class="addToCart" data-id="[[id]]">Add to Cart</button>